.editor-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.editor-wrapper .button-format {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.25s;
}

.editor-wrapper:hover .button-format {
  opacity: 1;
}
