.page-title {
  position: relative;
}

.page-title i {
  position: absolute;
  bottom: 1px;
  right: -35px;
  padding: 5px;
  opacity: .5;
  font-size: .8rem;
}

.page-title i:hover {
  cursor: pointer;
}