.action-bar-wrapper {
  min-height: 30px;
  width: 100%;
  background-color: #37414b;
  opacity: .6;
  transition: opacity .2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 20px;
}

.action-bar-wrapper:hover {
  opacity: 1;
}

.action-bar-start {
  position: absolute;
  top: 0;
  left: 0;
}

.action-bar-end { 
  position: absolute;
  top: 0;
  right: 0;
}

.action-bar-buttons button {
  margin: 8px;
}

.active {
  border: 1px solid whitesmoke;
}

.action-bar-tab {
  margin-right: 4px;
}