.action-bar-wrapper {
  height: 30px;
  width: 100%;
  background-color: #37414b;
  opacity: .25;
  transition: opacity .2s;
}

.action-bar-wrapper:hover {
  opacity: 1;
}

.action-bar {
  position: absolute;
  top: 0;
  right: 0;
}
